@font-face {
  font-family: 'cesyt';
  src: url('/font/source/cesyt.eot');
  src: url('/font/source/cesyt.eot?#font-spider') format('embedded-opentype'),
    url('/font/source/cesyt.woff2') format('woff2'),
    url('/font/source/cesyt.woff') format('woff'),
    url('/font/source/cesyt.ttf') format('truetype'),
    url('/font/source/cesyt.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@include am(font-cesyt) {
  font-family: 'cesyt';
}
